<!DOCTYPE html>
<html>
    <head>
        {%block titulo%} <title> Curriculum Vitae </title> {% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body class="bg-light">
        <div class="container-fluid">
            {% block nav_principal %}
            <nav id="barra_navegacion">
                <ul class="nav nav-tabs">
                    <li role="presentation"><a href="{% url 'index' %}">Principal</a></li>
                    <li role="presentation"><a href="{% url 'experiencia' %}">Experiencia Profesional</a></li>
                    <li role="presentation"><a href="#">Formacion oficial</a></li>
                    <li role="presentation"><a href="#">Formación no reglada</a></li>
                    {% if user.is_authenticated %}
                        <li role="presentation"><a href="{% url 'logout'%}?next={{request.path}}">Log_out</a></li>
                        <li role="presentation"><a href="{% url 'admin:index' %}?next={{request.path}}">Admin</a></li>
                        <li role="presentation"><a href="{% url 'crea-experiencia' %}">Administra CV</a></li>
                    {% else %}
                        <li role="presentation"><a href="{% url 'login' %}">Login/Sigup</a></li>
                    {% endif %}
                </ul>
            </nav>
            {% endblock %}
            {% block contido %}
            {% endblock %}
        </div>
    <footer>
        {% if user.is_authenticated %}
        Usuario: {{ user.get_username }}
        {% else %}
        Usuario invitado
        {% endif %}
    </footer>

        
    </body>
</html>