{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% block titulo %} <title> Curriculum Vitae </title> {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}"> -->
</head>
<body class="bg-light">
{% include 'navbar_principal.html' %}

<div class="container-fluid">
    {% block contido %}
    {% endblock contido %}
</div>

<footer>
    {% if user.is_authenticated %}
        Usuario: {{ user.get_username }}
    {% else %}
        Usuario invitado
    {% endif %}
</footer>

<!--
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    -->
</body>
</html>