{% extends 'base_contas.html' %}

{% block title %}Reseteo de contrasinal{% endblock %}

{% block contido %}
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Restablecemento do contrasinal</h3>
                    <p>Introduce a conta de correo electronico empregada para o rexistro para restablecer o contrasinal</p>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {% include './extensions/form.html' %}
                        <button type="submit" class="btn btn-primary btn-block">Enviar correo para restablecer a contrasinal</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}