{% extends 'base_contas.html' %}

{% block title %}Restablecemento de contrasinal{% endblock %}

{% block contido %}
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Restablecemento de contrasinal</h3>
                    <p>Enviouse un correo con enlace para o restablecemento do contrasinal. Se non aparece nuns minutos
                    revisa a carpeta de spam</p>
                    <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Regresar Log In</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}