{% extends 'base_contas.html' %}

{% block title %}
    {% if validlink %}
        Cambio de contrasinal para {{ form.user.username }}
    {% else %}
        Restablece contrasinal
    {% endif %}
{% endblock %}

{% block contido %}
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="card">
                <div class="card-body">
                    {% if validlink %}
                        <h3 class="card-title">Cambio de contrasinal para @{{ form.user.username }}</h3>
                        <form method="post" novalidate>
                            {% csrf_token %}
                            {% include './extensions/form.html' %}
                            <button type="submit" class="btn btn-success btn-block">Cambia contrasinal</button>
                        </form>
                    {% else %}
                        <h3 class="card-title">Restablece o teu contrasinal</h3>
                        <div class="alert alert-danger" role="alert">
                            Parece que estas a empregar un enlace erroneo. Intentao de novo.
                        </div>
                        <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">Solicita un enlace de
                            restablecemeno de novo</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}