{% extends 'base.html' %}

{% block title %}Cambio de contrasinal satisfactorio{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'password_change' %}">Cambio de contrasinal/a></li>
    <li class="breadcrumb-item active">Con éxito!</li>
{% endblock %}

{% block contido %}
    <div class="alert alert-success" role="alert">
        <strong>Success!</strong> O seu contrasinal foi modificado
    </div>
    <a href="{% url 'index' %}" class="btn btn-secondary">Voltar a paxina de inicio</a>
{% endblock %}